<app-quote-search></app-quote-search>

<h3>Your portfolio</h3>
<div class="dashboard__chart" *ngIf="myQuotes">
  <mat-card *ngFor="let ticker of tickers" class="dashboard__chart-unit">
    <mat-card-header>
      <strong>{{ myQuotes[ticker] }}</strong>
      <button mat-icon-button class="dashboard__card-delete" title="delete quote" (click)="delete(ticker)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button routerLink="/detail/{{ticker}}">
        Detail view
      </a>
    </mat-card-actions>
  </mat-card>
</div>