<h2>Quotes list</h2>
<h4>Short list of first hundred companies</h4>

<div class="quotes" *ngIf="quotes$ | async as quotes">
  <mat-card *ngFor="let quote of quotes" class="quotes__card">
    <mat-card-header>
      <strong>{{ '№' + quote.ticker + ' ' + quote.name }}</strong>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button routerLink="/detail/{{quote.ticker}}">
        Detail view
      </a>
      <button mat-button color="primary" (click)="add(quote.ticker, quote.name)">
        Add
      </button>
    </mat-card-actions>
  </mat-card>
</div>