.quotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quotes__card {
    margin-bottom: 20px;
    flex-basis: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quotes__card-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}