<div>
  <h4>Quote Search</h4>
    <form>
      <mat-form-field class="search__component">
        <input type="text" 
          placeholder="Search"
          aria-label="Number" 
          matInput 
          #searchBox
          id="search-box"
          (keyup)="search(searchBox.value)"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let quote of quotes$ | async" (click)="goTo(quote.ticker)">
              {{quote.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div>