<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">{{title}}</span>
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/quotes">Quotes</a>
  </mat-toolbar-row>
</mat-toolbar>

<ngx-alerts></ngx-alerts>

<mat-card class="working-area">
  <router-outlet></router-outlet>
</mat-card>

