<div *ngIf="quoteInfo$ | async as quoteInfo">
  <mat-card-header>
    <h2>{{ quoteInfo.legal_name }} Details</h2>
  </mat-card-header>
  <mat-card-content class="quote__info">
    <div *ngIf="quoteInfo.ticker">
      <span>Ticker: </span>{{quoteInfo.ticker}}
    </div>
    <div *ngIf="quoteInfo.inc_country">
      <span>Inc. country: </span>{{quoteInfo.inc_country}}
    </div>
    <div *ngIf="quoteInfo.business_address">
      <span>Address: </span>{{quoteInfo.business_address}}
    </div>
    <div *ngIf="quoteInfo.business_phone_no">
      <span>Phone: </span>{{quoteInfo.business_phone_no}}
    </div>
    <div *ngIf="quoteInfo.ceo">
      <span>CEO: </span>{{quoteInfo.ceo}}
    </div>
    <div *ngIf="quoteInfo.company_url">
      <span>URL: </span>{{quoteInfo.company_url}}
    </div>
    <div *ngIf="quoteHistoryValue$ | async as quoteHistoryValue">
      <span>Status: </span><span [style.color]="riskStatus==='Safe'?'green':'red'">{{riskStatus}}</span>
    </div>
    <div *ngIf="quoteHistoryValue$ | async as quoteHistoryValue">
      <span>Year yield/loss: </span>{{yieldValue.toFixed(2)}} <span *ngIf="yieldValue === 0">(poor data)</span>
    </div>

  </mat-card-content>
</div>

<ng-container *ngIf="quoteHistoryValue$ | async as quoteHistoryValue">
  <mat-card-header>
    <h2>History</h2>
  </mat-card-header>

  <div class="quote__datefilter">
    <mat-form-field>
      <input matInput [matDatepicker]="startpicker" placeholder="Choose a start date" [(ngModel)]="dateRange.start" disabled>
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endpicker" placeholder="Choose an end date" [(ngModel)]="dateRange.end" disabled>
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="quote__datefilter">
    <button mat-raised-button color="primary" (click)="updateHistory()">
      Filter
    </button>
  </div>

  <div *ngIf="quoteHistoryValue.length > 0">
    <canvas *ngIf="!redraw" 
      #chartCanvas 
      baseChart 
      width="400" height="400" 
      [datasets]="[{data: quoteHistoryValue, label: ''}]"
      [labels]="quoteHistoryDates$ | async" 
      [legend]="false" 
      [options]="lineChartOptions" 
      [chartType]="'line'"></canvas>
  </div>
  <div *ngIf="quoteHistoryValue.length === 0">
    <h3>No history data</h3>
  </div>
  
</ng-container>

<mat-card-actions>
  <button mat-button (click)="goBack()">Back</button>
  <button *ngIf="quoteInfo$ | async as quoteInfo" 
    mat-button 
    color="primary" 
    (click)="addToPortfolio(quoteInfo.ticker, quoteInfo.legal_name)">Add</button>
</mat-card-actions>