.quote__info {
    margin-left: 7px;
}

.quote__info span {
    font-weight: bold;
}

.quote__datefilter {
    display: flex;
    justify-content: flex-end;
}

.quote__datefilter mat-form-field {
    margin-left: 15px;
}