html, body {
  height: 100%;
  font-family: Trebucit, Arial, Tahoma, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
  0 6px 10px 0 rgba(0,0,0,.14), 
  0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-card {
  background-color: #fafafa;
}

.title {
  margin: 0 25px 0 15px;
}

.working-area {
  margin: 20px;
}

mat-card-actions {
  display: flex !important;
  justify-content: flex-end;
}

mat-card-header strong {
  padding-right: 15px;
}